.container {
  color: var(--text-color-1);
  text-align: center;
}

.container h1 {
  margin-top: 20vh;
  font-size: 4rem;
  margin-bottom: 2.2rem;
}

.container p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.container button {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 15.2rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color-2);
  border-radius: 15rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.container span {
  font-size: 1rem;
}
