.container {
  background-color: var(--text-color-2);
  margin-top: 3rem;
  padding: 1.1rem;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 1.2rem;
  color: var(--text-color-3);
}

.header button {
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 1rem;
  color: var(--text-color-2);
  width: 12rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.options {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  color: #878080;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.options::before {
  content: "";
  background: #e7e7e7;
  position: absolute;
  height: 1.5px;
  width: 105%;
  bottom: -10px;
  border-radius: 1rem;
}

.active {
  position: relative;
  color: var(--primary-color);
}

.active::before {
  content: "";
  background: var(--primary-color);
  position: absolute;
  width: 130%;
  height: 3px;
  bottom: -10px;
}

