.container {
  background-color: var(--text-color-2);
  margin-top: 3rem;
  padding: 1.1rem;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 1.2rem;
  color: var(--text-color-3);
}

.header button {
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 1rem;
  color: var(--text-color-2);
  width: 12rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.options {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  color: #878080;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.options::before {
  content: "";
  background: #e7e7e7;
  position: absolute;
  height: 1.5px;
  width: 105%;
  bottom: -10px;
  border-radius: 1rem;
}

.active {
  position: relative;
  color: var(--primary-color);
}

.active::before {
  content: "";
  background: var(--primary-color);
  position: absolute;
  width: 130%;
  height: 3px;
  bottom: -10px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 3rem;
}

.categoryContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  margin-top: 0.6rem;
}

.category {
  background-color: #e7ebf0;
  padding: 0.8rem;
  width: 12rem;
  text-align: center;
  border-radius: 10rem;
  font-size: 1rem;
  cursor: pointer;
}

.nameSelectContainer {
  position: absolute;
  background-color: #e7ebf0;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.nameSelectContainer input {
  padding: 0.3rem;
}

.nameSelectContainer p {
  line-height: 2;
  cursor: pointer;
}

.nameSelectContainer p:hover {
  background-color: #d5d9dd;
}

.selectContainer {
  background-color: #e7ebf0;
  padding: 0.8rem;
  width: 11rem;
  text-align: center;
  border-radius: 10rem;
}

.activeSelectContainer {
  background-color: var(--primary-color);
  padding: 0.8rem;
  width: 11rem;
  text-align: center;
  border-radius: 10rem;
}
.activeSelectContainer select {
  color: var(--text-color-2);
}

.activeSelectContainer option {
  /* color: red; */
}

.select {
  border: none;
  background-color: transparent;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.table th {
  padding: 1rem;
  font-weight: lighter;
  background-color: var(--bg-color-1);
  border-bottom: 2px solid var(--primary-color);
}

.table td {
  padding: 1rem;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e3e3e3;
}

.selectedCategory {
  background-color: var(--primary-color);
  color: var(--text-color-2);
  box-shadow: 0 4px 6px rgba(108, 92, 231, 0.2);
}

.incomeHover:hover {
  background-color: #e8f5e9 !important; /* Light green */
}

.expenseHover:hover {
  background-color: #ffebee !important; /* Light red */
}

.savingHover:hover {
  background-color: #e3f2fd !important; /* Light blue */
}
