:root {
  --bg-color-1: #ececec;
  --primary-color: #0e5ccc;
  --text-color-1: #343232;
  --text-color-2: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 225, 234, 1) 32%,
    rgba(193, 207, 225, 1) 50%,
    rgba(194, 210, 233, 1) 100%
  );
}
